header
{
  display: flex;
  justify-content: center;
}

.container {
  margin: 100px auto;
  width: 350px;
  height: 280px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 350px;
  height: 280px;
  text-align: center;
  color: black;
  border-radius: 10px;
  border: 2px solid #8b8b8b;
  overflow: hidden;
}

.caption
{
  position:absolute;
  left:0; right:0; bottom: -60px;
  padding: 10px;
  margin:0;
  border-top: 1px solid rgb(225,225,225);
  text-align:center;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  background: #fff;
  background: rgba(255,255,255,0.8);
  color: #555;
  text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
  font-size: 17px;
  border-radius: 0 0 10px 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(350px);
  background: #ed1c24;
  /*background: url('../images/CASC_yutz.png');*/
}
.b {
  transform: rotateY(60deg) translateZ(350px);
  background: #0072bc;
  /*background: url('../images/images2.jpeg');*/
}
.c {
  transform: rotateY(120deg) translateZ(350px);
  background: #39b54a;
  /*background: url('../images/images3.jpeg');*/
}
.d {
  transform: rotateY(180deg) translateZ(350px);
  background: #f26522;
  /*background: url('../images/images4.jpeg');*/
}
.e {
  transform: rotateY(240deg) translateZ(350px);
  background: #630460;
  /*background: url('../images/images5.jpeg');*/
} 
.f {
  transform: rotateY(300deg) translateZ(350px);
  background: #8c6239;
  /*background: url('../images/images6.jpeg');*/
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 565px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 569px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 14em; }
.prev { left: 14em; }

@media screen and (max-width: 1400px)
{
  .next { right: 3em; }
  .prev { left: 3em; }
}

@media screen and (min-width: 1800px)
{
  .next { right: 24em; }
  .prev { left: 24em; }
}

#bandereau
{
  margin-top: 20px;
}

#theme h1
{
  border-radius: 3px;
  font-size: 2em;
  width: 300px;
  padding: 10px;
  text-align: center;
  background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,0.2) 100%);
  margin-top: 30px;
  margin-bottom: 30px;
}

.bouton a {
  display:block;
  padding: 0;
  width:154px;
  line-height:68px;
  text-align:center;
  vertical-align:middle;
  background:url('../images/bouton.png') no-repeat;
  color:white;
  text-decoration:none;
  color: white;
  font-size: 1.2em;
}
.bouton a:hover {
  background:url('../images/hover.png') no-repeat;
}

#texte_bouton
{
  padding-right: 10px;
  padding-left: 10px;
}

.bouton
{
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}